body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(https://www.xmple.com/wallpaper/gradient-white-grey-linear-1920x1080-c2-a9a9a9-ffffff-a-210-f-14.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.listnav {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
button,.btn{
    padding: 5px;
    background-color: rgb(75,75,75);
    color:white;
    margin: 50px 50px 50px 0px;
    box-shadow: 0 9px #999;
    border-radius: 10px;
    width:200px;
}
button:hover{
    background-color: rgb(100,100,100);
}
button:active{
    background-color: rgb(100,100,100);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btn:hover{
    background-color: rgb(100,100,100);
}
.btn:active{
    background-color: rgb(100,100,100);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.date{
    float:right;
}