{% extends 'nav.html' %}
{% block content %}
 <script>
  function addemployee()
  {
      document.getElementById("addelement").innerHTML+='<input type="text" placeholder="Employee" name="Employee Name" required><br>';
  }
</script>
 <form action="action_page.php" method="get" style="border:1px solid #ccc">
  <div class="container">
    <h1>Creation of Project</h1>
    <!-- <p>Please fill in this form to create an account.</p> -->
    <hr>

    <label for="Project"><b>Project Name</b></label>
    <input type="text" placeholder="Enter Project Name" name="Project-Name" required>

    <br>

    <label for="leader"><b>Team Leader</b></label>
    <input type="text" placeholder="Enter Team Leader" name="TeamLeader" required>
    <br>
    <div id="addelement">
    <label id="add"><b>Employee</b></label>
    <input type="text" placeholder="Employee" name="Employee Name" required>

    <br></div>

    <div class="btn" onclick="addemployee()" >Add Employee</div><br>

    <button type="submit" class="submitbutton">Submit</button>
  </div>
</form> 
{% endblock %}